* text=auto
.* text eol=lf
*.php text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.po text eol=lf
*.pot text eol=lf
LICENSE text eol=lf
vendor/** -whitespace
